
/* navbar css---------------------------- */
.container{
    max-width: 1170px;

}



.navbarbtn{
    background-color:#5956E8 ;
    outline: none;
    padding: 13px 24px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}
.nav-item{
    margin-left: 50px;
}
.nav-item{
    background: ;
}
#banner{
    background-color: #5956E8;
    padding-top: 165px;
    padding-bottom: 200px;
}
#banner h1{
    font-size: 65px;
    font-weight: 700;
    line-height: 80px;
    color: #FFFEFE;
}
#banner p{
font-size: 16px;
font-weight: 400;
line-height: 27px;
max-width: 542px;
margin-top: 25px;
color:#FFFEFE ;
}
#banner button{
    background-color:white ;
    color: #5956E8;
    outline: none;
    padding: 13px 24px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
        margin-top: 30px;
}


/* navbar css---------------------------- */
/* navbar css---------------------------- */
#service{
    margin-top: 83px;

}
.title{
text-align: center;
}
.title-heading{
    font-size:40px ;
    font-weight: 700;
    color: black;
}
.title-sub-heading{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: black;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
/* navbar css---------------------------- */